.project.header {
  margin-top: 3rem;
  text-align: left; }

.quote {
  margin: 0 50px 0 50px;
}

footer {
  font-size: 1.5rem;
  margin-top: 50px;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #51b603;
}

nav ul {
  list-style: none;
  font-weight: normal;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  /*flow-into: 100%;*/
}

footer ul {
  list-style: none;
  font-weight: normal;
}

footer ul li {
  display: inline;
  margin-right: 20px;
  /*flow-into: 100%;*/
}

img.project {
  width: 100%;
}

/* Larger than phone */
@media (min-width: 750px) {
  .project.header {
    margin-top: 6rem; }
}

.background {
  fill: none;
  stroke: #ccc;
  pointer-events: all;
}

path {
  fill: #ccc;
  cursor: pointer;
}

.active.remain {
  fill: #FFE900;
}

.active.leave {
  fill: #16B5E5;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#modal {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1;
  background: white;
}

.tooltip {
    position: absolute;
    text-align: center;
    display: inline-block;
    padding: 2px;
    font-size: 0.5em;
    background: #51b603;
    border: 0px;
    rx: 4px;
    ry: 4px;
    pointer-events: none;
}

.dataPanel {
  position: absolute;
  width: 100%;
  /*overflow: scroll;*/
  font-size: 0.75em;
  background: #ddd;
  border: 0px;
  pointer-events: none;
}

.panel-header {
  display: block;
  padding-left: 1%;
}

.table-header {
  text-align: right;
  font-weight: 800;
}

.stat {
  font-weight: 600;
  text-align: left;
  width: 30%;
}

.data {
  text-align: right;
  width: 30%;
  font-size: 0.8em;
}

tr {
  border-bottom: 10px;
  border-color: #fff;
}

#area {
  font-size: 1.5em;
  font-weight: bold;
}

#region {
  font-size: 1.1em;
  font-weight: 500;
}
